/* Resets for universal default styling, makes it easier to do own styling*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

input,
button,
form {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

body {
	background-color: lightslategrey;
}

body h,
p {
	margin-left: 0.3rem;
}

body h1 {
	font-size: 1rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	font-weight: 100;
}

body h3 {
	font-size: 0.8rem;
	font-weight: 100;
}

body p {
	font-size: 0.65rem;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	width: 30%;
	padding: 1rem;
	min-width: 300px;
	background: linear-gradient(to bottom right, #0066cc 0%, #6699ff 100%);
	border-radius: 25px;
	color: rgb(255, 255, 255);
}

.forecastWidth {
	width: 60%;
}

.forecastMinWidth {
	min-width: 600px;
}

.forecastDisplay {
	display: flex !important;
}

.search {
	display: flex;
}

input,
button {
	padding: 0.3rem;
	color: white;
}

input {
	border-bottom: solid 1px white;
}

button {
	cursor: pointer;
}
button #submit {
	margin-right: 0.4rem;
}

input:hover {
	opacity: 0.5;
}
button:hover {
	opacity: 0.5;
}
button:active {
	opacity: 0.3;
}

#location {
	margin-top: 1rem;
}

#forecast {
	margin-top: 1rem;
}

.current {
	display: flex;
	text-align: left;
	justify-content: center;
	align-items: center;
}

.temp,
#temp p {
	font-size: 3rem;
	margin-left: 2rem;
}

.left {
	min-width: 250px;
}

.right {
	display: none;
	font-size: 0.6rem;
	min-width: 250px;
}

.right ul li {
	list-style: none;
	text-align: justify;
}

.right div {
	display: flex;
	align-items: center;
}

.forecastImg {
	margin-left: 0.25rem;
}

@media only screen and (max-width: 620px) {
	.container {
		flex-direction: column;
		align-items: center;
		width: 90%;
		min-width: 300px;
	}
	.left,
	.right {
		text-align: center;
	}
	.right div {
		justify-content: center;
	}
	.right {
		margin-top: 1rem;
		font-size: 0.7rem;
	}
	.search {
		justify-content: center;
	}
}
